@model IEnumerable<TDSAlmaxarifado.Models.Colaborador>
@{
    ViewBag.Title = "index";
}

<h2>Colaboradoes</h2> <a href="/Colaborador/Create">
    <button type="button" class="btn btn-success">Novo</button>
</a>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Codigo
            </th>
            <th>
                Nome
            </th>
            <th>
                Cargo
            </th>
            <th>
                Àrea
            </th>
            <th>
                Òpições
            </th>
        </tr>

    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.colid
                </td>
                <td>
                   @item.colnome
                </td>
                <td>
                   @item.colcargo
                </td>
                <td>
                    @item.AREA.AREDESCRICAO
                </td>
                <td>
                    <a href="/Colaborador/Editar?id=@item.colid"><button type="button" class="btn btn-warning">Editar</button></a>
                    <a href="/Colaborador/Exibir?id=@item.colid"><button type="button" class="btn btn-primary">Exibir</button></a>
                    <a href="/Colaborador/Excluir?id=@item.colid"><button type="button" class="btn btn-danger">Excluir</button></a>
                </td>
            </tr>
        }
    </tbody>
</table>

